
  <%  current_user.activity_totals.each do |activity| %>
    <h3><%= activity[0] %></h3>
    <% for i in 0..activity[1][:time] do %>
      <div class="minute-tick" style="background-color:<%= activity[1][:color] %>;"></div>
    <% end %>
  <% end %>



<%=
  current_user.activity_totals
%>
