
  <%  current_user.activity_totals.each do |activity| %>
    <% if activity[1][:percentage] > 0 %>
      <p><h4><%= activity[0] %> - %<%= activity[1][:percentage] %> of total time - </h4></p>
      <% for i in 0..activity[1][:percentage] do %>
          <div class="minute-tick" style="background-color:<%= activity[1][:color] %>;"></div>
      <% end %>
    <% end %>
  <% end %>



<%=
  current_user.activity_totals
%>
