
<% if current_user %>
  <h1 class="page-header">Your Dashboard</h1>

  <div class="row">

    <div class="col-xs-4">
      <ul>
        <% current_user.days.all.each do |day| %>
          <li class="day-link list list_item">
            <h4><%= link_to day.date, day_activities_path(day) %>
             Date: <%= day.datefield %></h4>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-xs-8">

      <div id="totalbar"><%= render partial: "dashbar", locals: { days: @days } %></div>

    </div>

  </div>
<% else %>
  <div class="info-pane welcome-pane">
    <h1 id="intro-header"><strong>Please log in or sign up to continue.</strong></h1>

    <h3 class="text-xs-center">This is an app to help developers keep track of how much time they spend on various tasks. Create an account using your email and password, and you will be able to log individual days, tasks and track them graphically.</h3>
  </div>
<% end %>
