<h1>Days</h1>

<ul>
  <% @days.each do |day| %>
    <li><%= day.date %>
      <%= link_to day.date, day_path(day) %>
      <%= day.created_at %>
    </li>
  <% end %>
</ul>


<%= link_to "Log a Day", new_day_path %>
