<h1>Days</h1>

<ul>
  <% @days.each do |day| %>
    <li class="list"><h4><div class="list_item"><%= day.date %>
      <%= link_to day.date, day_path(day) %>
      <%= day.created_at %>
    </div></h4></li>
  <% end %>
</ul>


<%= link_to "Log a Day", new_day_path, class: "btn btn-default field" %>
