

<%= form_for [@activity, @tag], remote: true do |f| %>
  <%= f.label :name %>
  <% tags = options_from_collection_for_select(@tags,'name', 'name') %>
  <%= f.select :name, tags, id: "drop_down", :prompt => '-Select a Tag to Add-' %>
  <p><%= f.submit 'Select a tag', class: "btn btn-default field" %></p>
<% end %>




<div class="col-lg-6">
  <h3>Current Added Tags</h3>
  <ul id="tag-list">

  </ul>
</div>
