@import "bootstrap-sprockets";
@import "bootstrap";



body {
  background-color: #000;
  color: #E9E9FF;
}

.field {
  color: black;
}

.list_item {
  margin: 7px;
  background-color: #002;
  border-style: solid;
  border-color: #005;
  border-width: thin;
}

.list {
  list-style: none;
}

.btn {
  width: 150px;
  margin: 5px;
}

.devise-labels {
  color: #E9E9FF;
}

.devise-button {
  color: black;
}

.nav_user {
  margin-right: 15px;
}
