@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #000;
  background: image-url('background.jpg');
  color: #E9E9FF;
}

.field {
  color: black;
}

.list_item {
  margin: 7px;

}

.list {
  list-style: none;
}

.btn {
  width: 150px;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000;
  border-color: #AAF;
  color: white;
  font-size: 1.1em;
}

.btn:hover {
  background-color: #300;
  border-color: #D03;
}

.devise-labels {
  color: #E9E9FF;
}

.devise-button {
  color: black;
}
#drop_down {
  color: black !important;
}
.nav_user {
  margin-right: 15px;
}

.button-text {
  text-align: center;
}

option, select, form {
  color: black;
}

.timer-stopped {
  height: 70px;
  width: 70px;
  margin-top: 5px;
  background-color: #A00;
  border-radius: 10%;
  color: black;
  border-style: solid;
  border-color: #400;
}

.timer-running {
  height: 70px;
  width: 70px;
  margin-top: 5px;
  background-color: #0F0;
  border-color: #0B0;
  display: none;
  border-style: solid;
  border-radius: 10%;
  color: white;
}

.minute-tick {
  width: 0.5%;
  height: 40px;
  margin-right: 0.15%;
  display: inline-block;
}

.end-button {
  display: none;
}

.info-pane {
  opacity: 0.6;
  background-color: #000;
  border-radius: 1%;
  border-style: solid;
  border-color: #66B;
  margin-top: 30px;
  padding: 25px;
  padding-top: 90px;
  padding-bottom: 90px;
}

.pane-header {
  padding: 3%;
}

.devise-button {
  background-color: #115;
  color: #DDE;
}
.devise-button:hover {
  background-color: #339;
  color: #EEF;
  border-color: #228;
}

.welcome-pane {
  margin-top: 180px;
}

#intro-header {
  color: #F3F3FF;
}

.day-pane {
  opacity: 0.6;
  background-color: #000;
  border-radius: 1%;
  border-style: solid;
  border-color: #66B;
  padding: 5px;
  padding-left: 15px;
}

.day-link {
  color: #DDF;
}

#add-day-buttons {
  margin-top: 20px;
}
