<h1>Alter logged Day:</h1>

<div class="row">
  <div class="col-lg-6">

    <%= render 'form' %>

  </div>
</div>

<div class="col-lg-6">
  <h3>Edit Added Tags</h3>
  <ul id="tag-list">

  </ul>
</div>
